@media screen and(max-width: 768px){
    .page{
        &__form-block{
            width: 100%;
            padding: 7% 5%;
        }
    }

    .auth-section{
        &__input{
            margin-top: 20px;
        }
    }
}

@media screen and(max-width: 576px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}