.form-control{
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid $grey-decorated;
    font-family:$main-font;
    color: $grey-decorated;

    &_bad-validation{
        border-color: $error !important;
        color: $error !important;
    }

    &_successes-validation{
        border-bottom-color: $successes !important;
        color: $successes !important;
    }
}

.message-block{
    border: 2px solid $grey-decorated;
    min-height: 30vh;
    color: lighten($color: $grey-decorated, $amount: 20);
    width: 100%;
    font-family: $main-font;
    font-size: 0.7rem;

    &_successes-validation{
        border-color: $successes !important;
        color: $successes !important;
    }

    &_bad-validation{
        border-color: $error !important;
        color: $error !important;

    }
}
