.btn{
    cursor: pointer;

    &_large{
        width: 100%;
    }

    &_disable{
        color: $grey-decorated;
        opacity: .8;
        pointer-events: none;
    }

    &_send-data{
        border-top: 1px solid $white;
        text-align: center;
        transition: .4s ease-in-out;
        &:hover{
            background-color: $white;
            color: $black;
        }
    }
    
}
