.user-info-section{
    .card_user{
        text-align: center;
        .card__property{
            margin-top: 5px;

            .card__value{
                margin-top: 2px;
            }
        }
        .btn{
            margin-top: 10px;
        }
    }
}